@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V17</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    button {
        margin: 20px;
        padding: 10px;
        font-size: 20px;
    }
    #Button1 {
        margin: 20px;
        padding: 5px;
        font-size: 10px;
        margin-left: 50px;
    }
</style>
<div class="col-md-12">
    <div class="aaa">
        <button type="button" class="btn btn-success" href="@Url.Action("Index", "accounts")">後端管理</button> <br />
        <button type="button" class="btn btn-success" href="@Url.Action("Index", "Products")">產品管理</button> <br />
        <button type="button" class="btn btn-success" href="@Url.Action("Index", "Customers")">顧客管理</button> <br />
        <button type="button" class="btn btn-success" href="@Url.Action("Index", "Orders")">訂單管理</button> <br />
    </div>
</div>
<div>
    @Html.ActionLink("Back to ", "Index")
</div>
